@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
html {
  font-size: 0.8em;
  font-family: 'Roboto Mono', monospace;
}
body {
  display: flex;
  justify-content: center;
}
pre {
  position: absolute;
  top: calc(25vh - 30px);
}
